spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pandas>=1.0.0
numpy>=1.17.3,<1.25.0
scikit-learn>=0.24.0
xgboost
flask>=2.0.0
flask-cors>=3.0.0
argparse
jsonschema
